<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Konkan Tools provides products and services to mechanical industries" />
    <meta name="keywords" content="web application, moulding, assembling,mechanical fixtures" />
    <link rel="openid.server" href="http://www.myopenid.com/server" />
    <link rel="openid.delegate" href="http://tswicegood.myopenid.com/" />
    <meta http-equiv="X-XRDS-Location" content="http://tswicegood.myopenid.com/xrds" />

    <link href="http://konkantools.com/"
          rel="alternate"
          title="Konkan Tools" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen" title="style (screen)" />

    <title>{{ page.title }}</title>
</head>

<body>

<div id="container">
    {% include navigation.html %}

    {% include header.html %}

    <div class="main">

        <div id="content">
            {{ content }}
        </div>

        <div id="right">
            <h3>Quick Links</h3>

            <ul>
                <li><a href="http://github.com/konkantools/">GitHub</a></li>
            </ul>

        </div>

    </div>
</div>

<div id="foot">
    <div id="footer_container">
        <div id="copyright">
            <p>Copyright &copy;  <a href="http://konkantools.github.com/">Konkan Tools Pvt.Ltd</a></p>
        </div>

        <div id="feeds">
        </div>
    </div>
</div>

	

